@import url("cssReset.css");

*a {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: #292929;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container h1 {
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 20px;
}

.signupbox {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  max-width: 800px;
  background: #ffffff;
}

.loginbox {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  max-width: 500px;
  background: #ffffff;
}

.leftside {
  padding: 50px;
  background: #7202b3;
  flex-basis: 50%;
  flex-grow: 1;
  color: #fff;
}

.rightside {
  padding: 50px;
  flex-basis: 50%;
  flex-grow: 1;
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #fff;
  outline: none;
  background: transparent;
  color: #fff;
  font-size: 12px;
}

label {
  font-size: 14px;
}

::placeholder {
  color: rgb(239, 235, 235);
  font-style: italic;
  font-weight: 100;
}

select {
  background-color: transparent;
  outline: none;
  border: none;
  width: 100%;
  margin: 8px 0;
  padding: 0 1em 0 0;
}

.select {
  width: 100%;

  border: 1px solid #fff;
  padding: 8px;
  cursor: pointer;
  line-height: 1.5em;
  background-color: transparent;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}

select option {
  color: #292929;
  padding: 15px;
  border-radius: 0%;
}

.leftside button {
  width: 100%;
  background: #fff;
  padding: 8px;
  font-size: 16px;
  border: 0;
  outline: none;
  margin-top: 10px;
  cursor: pointer;
  transition: background 0.5s;
}

.leftside button:hover {
  font-weight: 500;
  background: #000;
  color: #fff;
}

.rightside a {
  display: block;
  padding: 15px 30px;
  width: 100%;
  min-width: 250px;
  font-size: 14px;
  margin: 20px 0;
  text-decoration: none;
  color: #fff;
  text-align: center;
}

.rightside a i {
  font-size: 18px;
  margin-right: 10px;
}

.fb-link {
  background: #1778f2;
}

.tw-link {
  background: #1da1f2;
}

.gb-link {
  background: #121212;
}

.g-link {
  background: #ea4335;
}

.login-msg {
  font-size: 14px;
  text-align: center;
}

.login-msg a.touch {
  font-size: 14px;
  text-align: left;
  text-decoration: none;
  color: #ea4335;
  margin: 0;
  padding: 0;
  display: inline;
}

.login-msg2 {
  font-size: 14px;
  text-align: center;
  color: #000;
  font-style: italic;
}

.login-msg2 a.logtouch {
  font-size: 14px;
  font-style: normal;
  text-align: center;
  text-decoration: underline;
  color: #fff;
  margin: 0;
  padding: 0;
  display: inline;
}

.forgot {
  font-style: italic;
  font-size: 12px;
  color: #121212;
  font-weight: 600;
  margin-top: 5px;
}

.clear {
  margin-top: 20px;
  clear: both;
}
