* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100vw;
  height: 100vh;
}
body {
  font-family: "Big Shoulders Display", cursive;
  font-family: "Lexend Deca", sans-serif;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}

#pack {
  width: 960px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* overflow: auto; */
}

main .container {
  flex: 1;
  padding: 40px;
  word-wrap: break-word;
}

main .container h1 {
  font-family: "Big Shoulders Display", cursive;
  color: hsl(0, 0%, 95%);
  margin-bottom: 20px;
  font-size: 30px;
}

.container p {
  color: hsla(0, 0%, 100%, 0.75);
  margin-bottom: 30px;
}

.container:nth-of-type(1) {
  background-color: hsl(31, 77%, 52%);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.container:nth-of-type(2) {
  background-color: hsl(184, 100%, 22%);
}

.container:nth-of-type(3) {
  background-color: hsl(179, 100%, 13%);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.container img {
  margin-bottom: 20px;
}

button {
  color: hsl(0, 0%, 95%);
  border: 1px solid hsl(0, 0%, 95%);
  padding: 10px 25px;
  border-radius: 30px;
  background-color: transparent;
  font-weight: 200;
  cursor: pointer;
}

@media screen and (max-width: 375px) {
  #pack {
    flex-direction: column;
    width: 99%;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 0%;
    top: 0%;
    transform: translate(0%, 0%);
  }

  .container {
    border-radius: 0px !important;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 600px) {
  #pack {
    flex-direction: column;
    width: 99%;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 0%;
    top: 0%;
    transform: translate(0%, 0%);
  }

  .container {
    border-radius: 0px !important;
    flex-wrap: wrap;
  }
}

.grid-body {
  background-color: #1a1c28;
}
.grid-container {
  width: 800px;
  height: 80vh;
  margin: 80px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* gap: 20px; */
  grid-template-areas:
    "g1 g1 g2"
    "g3 g4 g4"
    "g3 g5 g5";
  gap: 20px;
}

.griddy {
  background-color: skyblue;
  padding: 20px;
  color: white;
}

.g1 {
  grid-area: g1;
  background-color: #eb5020;
}

.g2 {
  grid-area: g2;
  background-color: #ffa401;
}

.g3 {
  grid-area: g3;
  background-color: #05aa42;
}

.g4 {
  grid-area: g4;
  background-color: #01aefd;
  grid-column: 2/4;
}

.g5 {
  grid-area: g5;
  background-color: #01aefd;
  grid-column: 2/4;
}
